# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ----------------------------
# Virtual environments
# ----------------------------
venv/
.env/

# ----------------------------
# Data files (NEVER commit)
# ----------------------------
data/raw/
data/processed/
data/outputs/
*.csv
*.parquet
*.db

# ----------------------------
# MLflow
# ----------------------------
mlruns/
mlflow.db

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# OS / Editor
# ----------------------------
.DS_Store
.vscode/
.idea/

# ----------------------------
# Logs
# ----------------------------
*.log
